
*{
    margin: 0px;
    padding 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(9, 171, 22, 0.75);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
}


header h1 a {
    font-size: 200%;
    float: left;
    padding: 25px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

nav li, nav a {
    display: inline-block;

}

nav ul{
    float: right;

}

nav a {
    text-decoration: none;
    padding: 25px 20px;
    color: #FFFFFF;

}

nav a:hover{
    color: #ff0000
}

nav li {
    padding: 10px 0px;
}

.hero-img{
    background-image: url(https://images.unsplash.com/photo-1454922915609-78549ad709bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment:  fixed;
}
.hero-img h2 {
   position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    font-size: 300%;
    margin-left: 45px;
}

.description {
  column-count: 2;
  column-gap: 40px;
  column-rule-style: none;

}


.description h1 {
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  color: white;
}

#learn-info{
  text-align: center;
  border: 10px;
padding: 20px;
}

#purchase-info{
  text-align: center;
  border:10px;
  padding: 20px;

}

#learn-info-img{
  vertical-align: center;
  border-radius: 50px;
  margin-left: 50px;
  border-color: rgba(8, 209, 49);
  border-style: solid;
  font-size: 35px;
  margin-top: 10px;
}

#purchase-info-img{
  vertical-align: center;
  border-radius: 50px;
  margin-left: 50px;
  border-color: rgba(8, 209, 49);
  border-style: solid;
  font-size: 35px;
  margin-top: 10px;
}

.feature{
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0 auto;
}

#learn {
    background-image: url(https://images.unsplash.com/photo-1421217336522-861978fdf33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
}

#learn-content{
  column-count: 2;
  column-gap: 30px;
}

#learn-content h1{
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
}

#learn-content h2{
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
}

#learn-content h3{
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
}


#zombie-lesson{
  margin-left: 20px;
  border: 5px;
  border-color:rgba(8, 209, 49);
  border-style: solid;
  margin-bottom: 20px;
  border-radius: 50px;
}

#cant-stop-lesson{
  margin-left: 20px;
  border: 5px;
  border-color:rgba(8, 209, 49);
  border-style: solid;
  margin-bottom: 20px;
  border-radius: 50px;
}

#fire-and-flames-lesson{
  margin-left: 20px;
  border: 5px;
  border-color:rgba(8, 209, 49);
  border-style: solid;
  margin-bottom: 20px;
  border-radius: 50px;
}



#learn-content p{
  text-align: center;
  border: 5px;
  border-color: rgba(8, 209, 49);
  border-style: solid;
  font-size: 35px;
  margin-right:5px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding: 4px;
  padding-bottom: 20px;
  padding-top: 20px;
}


#purchase {
    background-image:url(https://images.unsplash.com/photo-1515850031371-8230418d8aed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1604&q=80);
}


#purchase-content{
  column-count: 2;
  column-gap: 30px;
}

#purchase-content h1{
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
}

#purchase-content img{
  border: 5px;
  border-radius: 50px;
  border-style: solid;
  border-color:rgba(8, 209, 49);
  margin-left: 20px;
}

#purchase-content img:hover{
  border:15px;
  border-color:rgba(8, 209, 49);
  border-style: solid;
}

#purchase-content p{
  text-align: center;
  border: 5px;
  border-color: rgba(8, 209, 49);
  border-style: solid;
  font-size: 35px;
  margin-right:5px;

  border-radius: 50px;
  padding: 4px;
  margin-left: 20px;
  padding-top: 75px;
  padding-bottom: 78px;
}

#purchase-content h2{
  column-span:all;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  background-color: rgba(8, 209, 49);
  font-size: 30px;
  margin-bottom: 25px;
  color: white;
  margin-top: 25px;

}

.feature h2 {
    color: white;
    text-align: center;
    font-size: 300%;
    padding: 200px;
}



footer {
    color: #FFFFFF;
    background-color:rgba(8, 209, 49) ;
    padding: 25px 20px;
    margin-top: 25px;
    column-span: all;
    font-size: 15px;
}
